<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/feedback.css">
  </head>
        
    
    

    <section class="home" id="home">
    <div class="home-content">
      <a href="/homepage" disabled>Browse Universities</a>
      <a href="/browse">Connect</a>
      <a href="/review">Add a Review</a>
    </div>
    </section>

    <section class="hello" id="hello">
    <div class="heya">
       <h3>Feedback straight from students at the University of Waterloo studying Computer Science</h3>
    </div>
    </section>

      <body>
        
<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h2>Computer Science</h2>
      <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

              <h2>Rating by Harry Jolie (1B CS) </h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span> 
            </li>

		</div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
				</span>
			</div>
			<h2>There are definitely sleepless nights and computer science assignments but this is a wonderful program for driven individuals who enjoy challenges. 
      </h2>
		</div>
	</div>
</div>

<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h2>Computer Science</h2>
      <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

              <h2>Rating by Tom Lima (4B CS) </h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span> 
            </li>

		</div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
				</span>
			</div>
			<h2>Sometimes you may not be able to finish an assignment but, that's okay. Honestly, this program is rigorous but there are endless opportunities in this field.  
      </h2>


		</div>

    
	</div>
</div>


  <script rel="stylesheet" href="script.js"> </script>

</body>
</html>