<!DOCTYPE html>
<html>
    <head>
        <title>University of Waterloo Programs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/programs.css">
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/homepage">UniBots</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/browse">Browse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/review">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link">Chat</a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
        </div>
    </nav>
      <h1 style="text-align:center; margin-top: 5%;">University of Waterloo Programs</h1>
      
      <div class="artboard">
      <div class="card-group col d-flex justify-content-center">
  
    

    
      <div class="card">
        <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
          <span class="card__heading-span">Feedback</span>
          </h4>
        </div>
        <div class="card__details">
          <ul>
              <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

              <h2>Rating by DG (3B LS Student @ Waterloo)</h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span> 
            </li>

            <li> Flexible and offers a variety of electives along with co-op opportunities! </li>

          </ul>
          <a href="/browse" class="stretched-link"></a>
        </div>
        </div>

        <div class="card__side card__side--front">
          <div class="card__theme">
            <div class="card__theme-box">
            <p class="card__subject">Faculty of Science</p>
            <p class="card__title">Life Sciences</p>
            <a href="/browse" class="stretched-link"></a>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card">
        <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
          <span class="card__heading-span">Feedback</span>
          </h4>
        </div>
        <div class="card__details">
          <ul>
            <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <h2>Rating by RD (2B CS Student @ Waterloo)</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> </li>

        <li>Definitely a rigourous curriculum but the supportive community has made it enjoyable!</li>
        </ul>
        <a href="/browse" class="stretched-link"></a>
      </div>
      </div>

      <div class="card__side card__side--front">
        <div class="card__theme">
          <div class="card__theme-box">
          <p class="card__subject">Faculty of Mathematics</p>
          <p class="card__title">Computer Science</p>
          <a href="/browse" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>

   <div class="card">
      <div class="card__side card__side--back">
      <div class="card__cover">
        <h4 class="card__heading">
        <span class="card__heading-span">Feedback</span>
        </h4>
      </div>
      <div class="card__details">
        <ul>
          <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Rating by KA (4B Econ Student @ Waterloo)</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span> </li>

        <li>Heavy workload but the extracurricular opportunities have allowed me to learn and develop my skills! </li>
        </ul>
        <a href="/browse" class="stretched-link"></a>
      </div>
      </div>

      <div class="card__side card__side--front">
        <div class="card__theme">
          <div class="card__theme-box">
          <p class="card__subject">Faculty of Arts</p>
          <p class="card__title">Economics</p>
          <a href="/browse" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>

    </div>
    </div>

    <div class="artboard">

    <div class="card-group col d-flex justify-content-center">
      <div class="card">
        <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
          <span class="card__heading-span">Feedback</span>
          </h4>
        </div>
        <div class="card__details">
          <ul>
              <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

              <h2>Rating by AK (3B AS Student @ Waterloo)</h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span> 
            </li>

            <li> Awesome co-op opportunities to gain experience in the field! </li>
          </ul>
          <a href="/browse" class="stretched-link"></a>
        </div>
        </div>

        <div class="card__side card__side--front">
          <div class="card__theme">
            <div class="card__theme-box">
            <p class="card__subject">Faculty of Mathematics</p>
            <p class="card__title">Actuarial Science</p>
            <a href="/browse" class="stretched-link"></a>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card">
        <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
          <span class="card__heading-span">Feedback</span>
          </h4>
        </div>
        <div class="card__details">
          <ul>
            <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <h2>Rating by ID (4B SciBus Student @ Waterloo)</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span> </li>

        <li>Amazing community of staff and peers to help in academics!</li>
        </ul>
        <a href="/browse" class="stretched-link"></a>
      </div>
      </div>

      <div class="card__side card__side--front">
        <div class="card__theme">
          <div class="card__theme-box">
          <p class="card__subject">Faculty of Science</p>
          <p class="card__title">SciBus</p>
          <a href="/browse" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>

   <div class="card">
      <div class="card__side card__side--back">
      <div class="card__cover">
        <h4 class="card__heading">
        <span class="card__heading-span">Feedback</span>
        </h4>
      </div>
      <div class="card__details">
        <ul>
          <li> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Rating by JS (2B AFM Student @ Waterloo)</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span> </li>

        <li>I like that I am able to just focus on my 2 interests; accounting and finance in this program! </li>
        </ul>
        <a href="/browse" class="stretched-link"></a>
      </div>
      </div>

      <div class="card__side card__side--front">
        <div class="card__theme">
          <div class="card__theme-box">
          <p class="card__subject">Faculty of Arts</p>
          <p class="card__title">AFM</p>
          <a href="/browse" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>


        <br>
        <br>
        <br>
        <br>
        
    </body>
</html>