<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register-landing.css">
</head>
<body>
    <div class="container">
        <h1>Who Are You?</h1><br/>
        <button class="b1"><a href="/uni-register" id="link">University Student</a></button><br/>
        <button class="b2"><a href="/hs-register" id="link">High School Student</a></button>
    </div>
</body>
</html>