<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/universities.css">
    </head>

    <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/homepage">UniBots</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/browse">Browse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/review">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link">Chat</a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
        </div>
    </nav>

        <h1 style="text-align:center; margin-top: 5%;">Possible Universities to choose from.</h1>
        
        <div class="card-group col d-flex justify-content-center">
            <div class="card cardfirst hvr-grow">
                <a href="/programs">
                  <img class="card-img-top" src="static/images/uwaterloologo.png" alt="Card image cap">
                </a>
            </div>
            <div class="card cardmiddle hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/uoftlogo.png" alt="Card image cap">
                </a>
                
            </div>
            <div class="card cardlast hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/westernlogo.png" alt="Card image cap">
                </a>
            </div>
        </div>
        <div class="card-group col d-flex justify-content-center">
            <div class="card cardfirst hvr-grow">
              <a href="/programs">
                <img class="card-img-top" src="static/images/uottawa logo.png" alt="Card image cap">
              </a>
            </div>
            <div class="card cardmiddle hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/ubc logo.png" alt="Card image cap">
                </a>
                
            </div>
            <div class="card cardlast hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/carleton.png" alt="Card image cap">
                </a>
            </div>
        </div>
        <div class="card-group col d-flex justify-content-center">
            <div class="card cardfirst hvr-grow">
              <a href="/programs">
                <img class="card-img-top" src="static/images/mcgill.png" alt="Card image cap">
              </a>
            </div>
            <div class="card cardmiddle hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/Wilfrid_Laurier_University.png" alt="Card image cap">
                </a>
                
            </div>
            <div class="card cardlast hvr-grow">
                <a href="/programs">
                    <img class="card-img-top" src="static/images/mac.png" alt="Card image cap">
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        
    </body>
</html>